.dynamic-table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  // border: 1px solid;

  thead {
    tr {
      th {
        font-weight: 600;
        border: 1px solid #DDD;
        text-align: left;
        padding: 6px 8px;
        background: #f1f1f1;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: 1em;
        border: 1px solid #DDD;
        padding: 0 8px;

        &.value-type-number {
          text-align: right;
        }
      }
    }
  }

  tfoot {
    tr {
      td {
        font-size: 1em;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.hand {
  cursor: pointer;
}

.not-select-text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  border: 1px solid #DDD;
  border-radius: 5px;
}

.d-flex {
  display: flex;
  align-items: center;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.justify-content-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.justify-content-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
.justify-content-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(161, 161, 161, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #00000033;
  }
}

.btn {
  cursor: pointer;
  color: #2320d3;
}